/* index1 */
.index1Body{width: 10rem /* 375/37.5 */;height: 17.786667rem /* 667/37.5 */;background-color: #ffd400;background-image: url(../images/backGround.png);background-repeat:no-repeat;background-size:10rem;}
.androidPng{width: 5.533333rem /* 207.5/37.5 */;height: 1.373333rem /* 51.5/37.5 */;}
.iosPng{width: 5.533333rem /* 207.5/37.5 */;height: 1.373333rem /* 51.5/37.5 */;}
.androidPngBox{width: 10rem;margin-top:8rem;text-align: center;}
.iosPngBox{width: 10rem;text-align: center;}
.textSpan{color: #fff;font-size: .373333rem /* 14/37.5 */;display: inline-blockw;}
.textSpanBox{width: 10rem;height: .533333rem /* 20/37.5 */;line-height:.533333rem;text-align: center;margin:.3rem 0;}
/* 弹窗 */
#background{display: none;position: fixed;left: 0;top: 0;width: 10rem;height: 17.786667rem;background-color: rgba(0,0,0,0.3)}
#div1{width: 10rem;z-index: 1;overflow: auto;margin-top:.48rem;}
#div2{margin: auto;height:9.466667rem /* 355/37.5 */ ;margin-top: 3.6rem /* 135/37.5 */;}
#close{padding: .133333rem /* 5/37.5 */;}
#close-button{float:left;}
/* 轮播 */
.swiper-slide{width: 6.8rem !important;height: 9.466667rem !important;margin-right:0.533333rem; }
.swiper-img{width: 6.8rem /* 255/37.5 */;height: 9.466667rem /* 355/37.5 */;}
/* index1 */